<div hx-target="this" hx-swap="outerHTML">
   
    <table class="table table-bordered">
        <thead>
              <tr>
                  <th scope="col" style="width: 15%;">Enginer</th>
                  <th scope="col" style="width: 12%;">Type</th>                
              </tr>
        </thead>
        <tbody>  
            <tr>
                <td>{{ assign.engineer.first_name }}</td>
                <td>{{ assign.assign_type }}</td>

            </tr>             
        </tbody>
    </table>

    
</div>