<div hx-target="this" hx-swap="outerHTML">
    <div >
        <table class="table table-bordered" style="background-color:#EBF5FB;">

            <tbody>
                <tr>
                    <td scope="col" style="width: 15%;">{{ prod.product }}</td>
                    <td scope="col" style="width: 30%;">{{ prod.details }}</td>
                    <td scope="col" style="width: 10%;">{{ prod.quantity }}</td>
                    <td scope="col" style="width: 15%;">{{ prod.date_of_last_issue | date:"d M' Y" }}</td>
                    <td scope="col" style="width: 20%;">{{ prod.remarks }}</td>
                    {% if prod.requisition_hod_it.sign_type == 'Agreed' %}
                        <td style="color: rgb(140, 143, 143); text-align: center; width: 5%;">
                            <a disabled><i class="bi bi-pencil" aria-label="Edit"></i></a>
                        </td>
                        <td style="color: rgb(90, 88, 88); text-align: center; width: 5%;">
                            <a disabled><i class="bi bi-trash" aria-label="Delete"></i></a>
                        </td>
                    {% else %}
                        <td style="color: darkcyan; text-align: center; width: 5%;">
                            <a hx-get="{% url 'update-prod' prod.id %}" onclick="disableSubmitButton()">
                                <i class="bi bi-pencil" aria-label="Edit"></i>
                            </a>
                        </td>
                        <td style="color: darkred; text-align: center; width: 5%;">
                            <a hx-post="{% url 'delete-prod' prod.id %}" 
                               hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                               hx-target="closest tr"
                               hx-swap="outerHTML"
                               hx-confirm="Are you sure you want to delete this product?">
                                <i class="bi bi-trash" aria-label="Delete"></i>
                            </a>
                        </td>
                    {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
