<!DOCTYPE html>
<html>
    <head>
        <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 5px;
          text-align: left;
        }
        </style>
    </head>
<body>

    <p>test mail</p>

    <p>Form Links : <a class="article-title" href={{ link }}> Visit here for details</a></p>

    <table>
        <tr>
              <th>Form ID</th>
              <td><b style="color: #17A2B8">{{ id }}</b></td>
        </tr>
        <tr>
            <th>Total sign</th>
            <td><b style="color: #005cbf"> {{ total_sign }}</b></td>
        </tr>
        <tr>
            <th>all_sign</th>
            <td>{{ all_sign }}</td>
        </tr>
        <tr>
            <th>Sign Count</th>
            <td>{{ sign_count }}</td>
        </tr>


    </body>
</html>




